<div class="about">
  <header class="about-header">
    <div class="bio-stepper">
      <div class="stepper-label low">CURT</div>
      <div class="stepper-wrapper">
        <input type="range" min="1" value="3" class="slider" id="bio-stepper">
      </div>
      <div class="stepper-label high">VERBOSE</div>
    </div>
    <a href="#" class="about-toggle">x</a>
  </header>
  <div class="about-content">
    <div class="bio">
      <div class="bio-item">
        <p>:)</p>
        <figure class="about-image">
          <img src="{{ '/assets/images/paddington.jpg' | relative_url }}" alt="A picture of Paddington Bear."/>
        </figure>
      </div>
      <div class="bio-item">
        <p>Wo Chan is a poet and drag performer living in Brooklyn.</p>
        <figure class="about-image">
          <img src="{{ '/assets/images/wochan_haleyvaracallo3.jpg' | relative_url }}" alt="portrait of the author"/>
          <figcaption>Photo by <a href="http://www.haleyvaracallo.com/" target="_blank">Haley Varacallo</a></figcaption>
        </figure>
      </div>
      <div class="bio-item">
        <p>Wo Chan is a queer poet and drag performer living in Brooklyn. Wo has received fellowships from the New York Foundation of the Arts, Kundiman, and the <a href="https://aaww.org/such-as-wo-chan/" target="_blank">Asian American Writers Workshop</a>. As a member of <a href="http://www.switchnplay.com/" target="_blank">Switch N' Play</a>, Wo has performed at venues including The Whitney, <a href="https://youtu.be/9ju4xkir1qw?t=2961" target="_blank">National Sawdust</a>, New York Live Arts, and BAM Fisher. Check them out <a href="https://www.instagram.com/theillustriouspearl/" target="_blank">@theillustriouspearl</a>.</p>
        <figure class="about-image">
          <img src="{{ '/assets/images/wochan_haleyvaracallo.jpg' | relative_url }}" alt="portrait of the author"/>
          <figcaption>Photo by <a href="http://www.haleyvaracallo.com/" target="_blank">Haley Varacallo</a></figcaption>
        </figure>
      </div>
      <div class="bio-item">
        <p>Wo Chan (a.k.a. Pearl Harbor) is a queer poet and drag performance artist living in Brooklyn. They are the author of the chaplet ORDER THE WORLD, MOM (Belladonna), and has received fellowships from the New York Foundation of the Arts, Kundiman, Lambda Literary, and the <a href="https://aaww.org/such-as-wo-chan/" target="_blank">Asian American Writers Workshop</a>.</p>
        <figure class="about-image">
          <img src="{{ '/assets/images/wochan_armonburton.jpg' | relative_url }}" alt="portrait of the author"/>
          <figcaption>Photo by <a href="?????????" target="_blank">Armon Burton</a></figcaption>
        </figure>
        <p>Wo is standing member of the Brooklyn-based drag/burlesque collective <a href="http://www.switchnplay.com/" target="_blank">Switch N' Play</a>, and has performed at venues including The Whitney, MOMA PS1, Joe’s Pub, <a href="https://youtu.be/9ju4xkir1qw?t=2961" target="_blank">National Sawdust</a>, New York Live Arts, and the Brooklyn Museum. Wo was born in Macau, China, and is currently an MFA Candidate in Poetry at NYU. Check them out <a href="https://www.instagram.com/theillustriouspearl/" target="_blank">@theillustriouspearl</a>.</p>
        <figure class="about-image">
          <img src="{{ '/assets/images/wochan_haleyvaracallo2.jpg' | relative_url }}" alt="portrait of the author"/>
          <figcaption>Photo by <a href="http://www.haleyvaracallo.com/" target="_blank">Haley Varacallo</a></figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
