<div id="bio">
  <div class="bio-image">
    <img src="{{ '/assets/images/wochan_haleyvaracallo.jpg' | relative_url }}" alt="portrait of the author">
  </div>
  <div class="bio-wrapper">
    <div class="bio-stepper">
      <div class="stepper-label">AAA</div>
      <div class="stepper-wrapper">
        <input type="range" min="1" value="5" class="slider" id="bio-stepper">
      </div>
      <div class="stepper-label">A</div>
    </div>
    <div class="bio-sentences">
      <p>Everything hurts and I’m dying.</p>
      <p>Hey Leslie. It’s Leslie. Hang in there. I love you. Bye.</p>
      <p>What I hear when I’m being yelled at is people caring really loudly at me.</p>
      <p>I don’t want to be overdramatic, but today felt like a hundred years in hell and the absolute worst day of my life.</p>
      <p>We have to remember what's important in life: friends, waffles, and work. Or waffles, friends, and work. But work has to come third.</p>
      <p>I ate a brownie once at a party in college. It was kind of indescribable really. It felt like I was floating. It turns out that there wasn't any marijuana in it, it was just an insanely good brownie.</p>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var $sentences,
        $stepper;

    var ACTIVE_CLASS = "active",
        DEFAULT_STEPPER_VALUE = 5;

    function registerEvents() {
      $sentences = $(".bio-sentences p");
      $stepper = $("#bio-stepper");

      $stepper.on('input', function() {
        $sentences.removeClass(ACTIVE_CLASS);
        var $active = $(this).val();
        setActiveSentence($active);
      });

      initStepper();
    }

    function setStepperMax(num) {
      $stepper.attr("max", num);
    }

    function setStepperDefault(num) {
      $stepper.attr("value", num);
    }

    function setActiveSentence(num) {
      $sentences.filter(':nth-child(' + num + ')').addClass(ACTIVE_CLASS);
    }

    function initStepper() {
      setStepperMax($sentences.length);
      setStepperDefault(DEFAULT_STEPPER_VALUE);
      setActiveSentence($stepper.val());
    }

    registerEvents();
  });
</script>
