<div class="events-wrapper">
  <h2 class="events-header">NEWS & SHOWS!!!</h2>
  <div class="events">
    <a href="https://www.heartbeatopera.org/dragus-maximus-halloween-2018/" target="_blank" class="event">
      <time class="event-date" datetime="2018-10-26">Oct 26 & 27</time>
      <span class="event-title">Dragus Maximus: A Homersexual Opera Odyssey</span>
      <address class="event-location">Roulette Intermedium</address>
    </a>
    <a href="#" target="_blank" class="event">
      <time class="event-date" datetime="2018-10-08">Nov 10</time>
      <span class="event-title">Switch n' Play</span>
      <address class="event-location">Branded Saloon</address>
    </a>
    <a href="#" target="_blank" class="event">
      <time class="event-date" datetime="2018-11-16">Nov 16</time>
      <span class="event-title">Something awesome</span>
      <address class="event-location">Somewhere great</address>
    </a>
  </div>
</div>
