<div class="events-wrapper">
  <h2 class="events-header">NEWS & SHOWS!!!</h2>
  <div class="events">
    <a href="https://www.vice.com/en_us/article/j53kp8/trans-disabled-teen-model-aaron-philip-fashion" target="_blank" rel="noopener" class="event">
      Trans Model Aaron Philip in Vice!
    </a>
    <a href="https://www.heartbeatopera.org/dragus-maximus-halloween-2018/" target="_blank" rel="noopener" class="event">
      Dragus Maximus: A Homersexual Opera Odyssey Oct 26 & 27!
    </a>
    <a href="http://www.papermag.com/ohyung-care-for-you-2614542902.html" target="_blank" rel="noopener" class="event">
      OHYUNG's “Care For You” Music Video Debut in Paper!
    </a>
    <a href="http://aawwradio.libsyn.com/aaww-radio-episode-34-poetry-potluck-iii-ft-emily-yoon-wo-chan-sueyen-juliette-lee-kristin-chang" target="_blank" rel="noopener" class="event">
      AAWW Radio Poetry Reading!
    </a>
    <a href="http://a.co/7y2ta2j" target="_blank" rel="noopener" class="event">
      🎂 Nov 10: My Birthday!!!!! :)
    </a>
  </div>
</div>
