<div id="intro">

  <div class="intro-mobile">
    <svg width="294px" height="223px" viewBox="0 0 294 223" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <path d="M-1.13686838e-13,100.245852 C9,57.7549849 84.8622935,-9.44855604 180.548513,1.57118249 C276.234733,12.590921 301.4868,72.2119631 289.05866,116.176463 C273.275366,172.009805 207.182822,230.781744 118.401793,219.027356 C66.1027532,212.103093 35.2200022,165.294734 47.0672241,121.425922 C58.914446,77.5571091 117.815845,40.2720605 172,49.4085645 C224.282161,58.2243554 241.464622,92.0440025 225,121.491286 C211,146.530546 154,181.433759 99,152.60067" id="text-path-mobile" />
      </defs>
      <text>
        <textPath xlink:href="#text-path-mobile">
          <tspan class="intro-link" data-gif="wo">Wo Chan is a <tspan class="intro-link" data-gif="poetry">poet, <tspan class="intro-link" data-gif="drag">drag performer, and <tspan class="intro-link" data-gif="vers">vers top<tspan class="letter letter48 fartletter">.
        </textPath>
      </text>
    </svg>
  </div>

  <div class="intro-desktop">
    <svg width="861px" height="429px" viewBox="0 0 861 429" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <path d="M0,213.503027 C0,327 89.3514599,427.649194 197,427 C309.70068,426.320338 395,331 418,213.5 C441,96 532.232558,0 661.72093,0 C791.209302,0 880.511628,106.5 880.511628,213.5 C880.511628,320.5 784,427 674,427 C564,427 513,351.5 513,266.5 C513,181.5 582,106 661.72093,106"
          id="text-path-desktop" />
      </defs>
      <text>
        <textPath xlink:href="#text-path-desktop" startOffset="5%">
          <tspan class="intro-link" data-gif="wo">Wo Chan</tspan> is a <tspan class="intro-link" data-gif="poetry">poet</tspan>, <tspan class="intro-link" data-gif="drag">drag performer</tspan>, and <tspan class="intro-link" data-gif="vers">vers top</tspan><tspan class="fartletter">.</tspan>
        </textPath>
      </text>
    </svg>
  </div>

  <audio class="fart" preload="auto">
    <source src="{{ '/assets/audio/fart.wav' | relative_url }}" type="audio/wav">
  </audio>
  <div id="hover-gifs">
    <video autoplay loop muted playsinline data-gif="wo" preload="none">
      <source src="{{ '/assets/images/ditto.mp4' | relative_url }}" type="video/mp4">
    </video>
    <video autoplay loop muted playsinline data-gif="poetry" preload="none">
      <source src="{{ '/assets/images/book.mp4' | relative_url }}" type="video/mp4">
    </video>
    <video autoplay loop muted playsinline data-gif="drag" preload="none">
      <source src="{{ '/assets/images/pearls.mp4' | relative_url }}" type="video/mp4">
    </video>
    <video autoplay loop muted playsinline data-gif="vers" preload="none">
        <source src="{{ '/assets/images/banana.mp4' | relative_url }}" type="video/mp4">
    </video>
  </div>
</div>
