<div id="items">
  <img src="{{ '/assets/images/items/pearls.png' | relative_url }}" alt="pearls" class="item">
  <img src="{{ '/assets/images/items/croc.png' | relative_url }}" alt="orange croc" class="item">
  <img src="{{ '/assets/images/items/lavacake.png' | relative_url }}" alt="lava cake" class="item">
  <img src="{{ '/assets/images/items/pigeon.png' | relative_url }}" alt="pigeon" class="item">
  <img src="{{ '/assets/images/items/banana.png' | relative_url }}" alt="banana" class="item">
  <img src="{{ '/assets/images/items/chicken.png' | relative_url }}" alt="rotisserie chicken" class="item">
  <img src="{{ '/assets/images/items/cold-cream.png' | relative_url }}" alt="cold cream" class="item">
  <img src="{{ '/assets/images/items/nail.png' | relative_url }}" alt="nail" class="item">
  <img src="{{ '/assets/images/items/opera-glasses.png' | relative_url }}" alt="opera glasses" class="item">
  <img src="{{ '/assets/images/items/gymnast.png' | relative_url }}" alt="gymnast" class="item">
  <img src="{{ '/assets/images/items/ferrero-rocher.png' | relative_url }}" alt="ferrero rocher" class="item">
  <img src="{{ '/assets/images/items/paddington-bear.png' | relative_url }}" alt="paddington bear" class="item">
  <img src="{{ '/assets/images/items/birdo.png' | relative_url }}" alt="birdo" class="item">
  <img src="{{ '/assets/images/items/beard-2.png' | relative_url }}" alt="beard" class="item">
  <img src="{{ '/assets/images/items/runescape.png' | relative_url }}" alt="runescape" class="item">
  <img src="{{ '/assets/images/items/flower.png' | relative_url }}" alt="flower" class="item">
</div>

<script src="{{ '/assets/scripts/items.js' | relative_url }}" type="text/javascript"></script>
