#about {
  display: flex;
  margin: 0 auto;

  .about-image, .about-content {
    flex: 1;
    margin: 0 6%;
  }

  .about-image {
    z-index: -1;
    margin-left: 3%;
    img {
      position: fixed;
      max-height: 90vh;
      max-width: 100%;
      margin: 5vh auto;
    }
  }

  .about-content {
    margin-right: 3%;
  }

  .button-download {
    background-color: $color-primary;
    color: $color-white;
    display: block;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Space Mono", monospace;
    margin: 120px 40px;
    box-shadow: 8px 8px 0 $color-text;
    font-size: 1.4em;
    &:hover {
      background-color: $color-secondary;
      transform: translate3d(-4px, -4px, 0);
      box-shadow: 12px 12px 0 $color-text;
    }
  }
}
