.about-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  transition: opacity 0.4s ease-in-out;
}

.about {
  background: $color-white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30vw;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transform: scaleX(0);
  transform-origin: right;

  .about-header {
    display: flex;
    align-items: center;
    padding: $spacing-unit / 2 $spacing-unit;

    .about-toggle {
      margin-left: $spacing-unit;
      font-size: 3rem;
      margin-top: -1rem;
      line-height: 1;
      height: auto;
      background: transparent;
      border: none;
      font-family: $base-font-family;
      color: $color-primary;
      @include cursor(pointer);
      &:hover {
        color: $color-secondary;
        transform: scale(1.2);
      }
      &:focus {
        outline: none;
      }
    }
  }

  .about-content {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0 $spacing-unit;
  }
}

.bio {
  margin-bottom: $spacing-unit;
  position: relative;
  height: auto;

  .bio-item {
    position: absolute;
    top: 0;
    transition: 0.2s $cubic-bezier;
    opacity: 0;
    display: none;
    transform: translateY(10px);
    &.active {
      position: relative;
      opacity: 1;
      display: block;
      transform: translateY(0);
      transition-delay: 0.2s, 0s;
    }
  }

  p, .colophon {
    margin: 0 0 $spacing-unit 0;
    font-family: $secondary-font-family;
    a {
      text-decoration: underline;
      color: $color-text;
    }
  }
  figure {
    margin-left: -$spacing-unit/2;
    margin-right: -$spacing-unit/2;
    margin-bottom: $spacing-unit;
  }
}

.button-download {
  background-color: $color-primary;
  color: $color-white;
  display: block;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-family: $secondary-font-family;
  box-shadow: 8px 8px 0 $color-text;
  font-size: 1.4em;
  &:hover {
    background-color: $color-secondary;
    transform: translate3d(-4px, -4px, 0);
    box-shadow: 12px 12px 0 $color-text;
  }
}

// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.1
// MIT License

$track-color: $color-text;
$thumb-color: $color-primary;

$thumb-radius: 12px;
$thumb-height: 24px;
$thumb-width: 24px;
$thumb-shadow-size: 0;
$thumb-shadow-blur: 0;
$thumb-shadow-color: $thumb-color;
$thumb-border-width: 0;
$thumb-border-color: $thumb-color;

$track-width: 100%;
$track-height: 8px;
$track-shadow-size: 0;
$track-shadow-blur: 0;
$track-shadow-color: transparent;
$track-border-width: 0;
$track-border-color: $track-color;

$track-translate: calc(- #{$track-width} + 16px);

$track-radius: 5px;
$contrast: 5%;

$ie-bottom-track-color: darken($track-color, $contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  @include cursor(resize-h);
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb($adjustment: 0) {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  @include cursor(resize-h);
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  height: $thumb-height + $adjustment;
  width: $thumb-width + $adjustment;
}

@mixin disabled {
  cursor: not-allowed;
}

.bio-stepper {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: $secondary-font-family;
  transform: rotate(-5deg);

  .stepper-label {
    &.low {
      align-self: flex-start;
    }
    &.high {
      align-self: flex-end;
    }
  }

  #bio-stepper[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    margin: $thumb-height / 2 0;
    width: $track-width;
    @include cursor(resize-h);

    &::-moz-focus-outer {
      border: 0;
    }

    &:focus {
      outline: 0;

      &::-webkit-slider-runnable-track {
        background: $track-color;
      }

      &::-ms-fill-lower {
        background: $track-color;
      }

      &::-ms-fill-upper {
        background: $track-color;
      }
    }

    &::-webkit-slider-runnable-track {
      @include track;
      @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
      background: $track-color;
      border: $track-border-width solid $track-border-color;
      border-radius: $track-radius;
    }

    &::-webkit-slider-thumb {
      @include thumb;
      -webkit-appearance: none;
      margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);
    }

    &::-moz-range-track {
      @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
      @include track;
      background: $track-color;
      border: $track-border-width solid $track-border-color;
      border-radius: $track-radius;
      height: $track-height / 2;
    }

    &::-moz-range-thumb {
      @include thumb(-4);
    }

    &::-ms-track {
      @include track;
      background: transparent;
      border-color: transparent;
      border-width: ($thumb-height / 2) 0;
      color: transparent;
    }

    &::-ms-fill-lower {
      @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
      background: $ie-bottom-track-color;
      border: $track-border-width solid $track-border-color;
      border-radius: ($track-radius * 2);
    }

    &::-ms-fill-upper {
      @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
      background: $track-color;
      border: $track-border-width solid $track-border-color;
      border-radius: ($track-radius * 2);
    }

    &::-ms-thumb {
      @include thumb(-4);
      margin-top: $track-height / 4;
    }

    &:disabled {
      &::-webkit-slider-thumb {
        @include disabled;
      }

      &::-moz-range-thumb {
        @include disabled;
      }

      &::-ms-thumb {
        @include disabled;
      }

      &::-webkit-slider-runnable-track {
        @include disabled;
      }

      &::-ms-fill-lower {
        @include disabled;
      }

      &::-ms-fill-upper {
        @include disabled;
      }
    }
  }
}

.sidebar-open {
  .about {
    transform: scale(1);
  }
  .about-overlay {
    opacity: 1;
    pointer-events: all;
  }
  .page-content {
    transform: scaleX(0.7);
  }
}

.page-content, .about {
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  backface-visibility: hidden;
}

.page-content {
  transform-origin: left;
  z-index: 29; // 1 below about
}

@media screen and (max-width: 900px) {
  .about {
    width: 40vw;
  }
  .sidebar-open .page-content {
    transform: scaleX(0.6);
  }
}

@media screen and (max-width: 1200px) {
  .about {
    width: 35vw;
  }
  .sidebar-open .page-content {
    transform: scaleX(0.65);
  }   
}

@media screen and (max-width: 1100px) {
  .about {
    width: 40vw;
  }
  .sidebar-open .page-content {
    transform: scaleX(0.6);
  }  
}

@media screen and (max-width: 900px) {
  .about {
    width: 50vw;
  }
  .sidebar-open .page-content {
    transform: scaleX(0.5);
  }
}

@media screen and (max-width: 740px) {
  .about {
    width: 60vw;
  }
  .sidebar-open .page-content {
    transform: scaleX(0.4);
  }
}

@media screen and (max-width: 560px) {
  .about {
    width: 70vw;
  }
  .sidebar-open .page-content {
    transform: scaleX(0.3);
  }
}

@media screen and (max-width: 460px) {
  .about {
    width: 90vw;
  }
  .sidebar-open .page-content {
    transform: scaleX(0.1);
  }
}
