body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  position: fixed;
  font-size: 16px;
  height: 100%;
  width: 100%;
  @media screen and (max-width: 900px) { font-size: 15px; }
  @media screen and (max-width: 600px) { font-size: 14px; }
  line-height: $base-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  color: $color-text;
  background-color: $color-bg;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  overflow: hidden;
  @include cursor(default);
}

.page-content {
  height: 100%;
}

::selection {
  background: $color-primary;
}

::-moz-selection {
  background: $color-primary;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

p, blockquote, figcaption {
  @include cursor(text);
}

main {
  display: block;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

figure {
  position: relative;
  >img {
    display: block;
  }
  figcaption {
    color: $color-primary;
    font-size: $small-font-size;
    position: absolute;
    top: 0;
    left: 10px;
    transform: rotate(88deg);
    transform-origin: center left;
    z-index: 5;
    a:hover {
      color: $color-primary;
    }
  }
}

ul,
ol {
  margin-left: $spacing-unit;
}

li {
  >ul,
  >ol {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}

h2 {
  display: inline-block;
  transform: rotate(-5deg);
}

a {
  color: $color-primary;
  text-decoration: none;
  @include cursor(pointer);
  &:hover {
    color: $color-secondary;
    text-decoration: underline;
  }
  &[target="_blank"] {
    @include cursor(external);
  }
}

.visually-hidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px;
  width: 1px; 
  margin: -1px;
  padding: 0;
  border: 0; 
}

// Lazy Load Images

img:not([src]) {
  visibility: hidden;
}

// Fixes Firefox anomaly during image load
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

// Fixes MS Edge InteractionObserver bug
img[data-src],
img[data-srcset] {
  display: block;
  min-height: 1px;
}
