#bio {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  .bio-image,
  .bio-wrapper {
    flex: 1;
  }

  .bio-wrapper {
    display: flex;
    align-items: center;
  }

  .bio-sentences {
    p {
      font-size: 2em;
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.1
// MIT License

$track-color: $color-text;
$thumb-color: $color-primary;

$thumb-radius: 12px;
$thumb-height: 24px;
$thumb-width: 24px;
$thumb-shadow-size: 0;
$thumb-shadow-blur: 0;
$thumb-shadow-color: $thumb-color;
$thumb-border-width: 0;
$thumb-border-color: $thumb-color;

$track-width: 300px; // Actually height (bc rotation)
$track-height: 8px; // Actually width
$track-shadow-size: 0;
$track-shadow-blur: 0;
$track-shadow-color: transparent;
$track-border-width: 0;
$track-border-color: $track-color;

$track-translate: - $track-width + 16px;

$track-radius: 5px;
$contrast: 5%;

$ie-bottom-track-color: darken($track-color, $contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: url(images/cursor-resize-v.png) 16 23, ns-resize; /* Legacy */
  cursor: url(images/cursor-resize-v.svg) 16 23, ns-resize; /* FF */
  cursor: -webkit-image-set(url(images/cursor-resize-v.png) 1x, url(images/cursor-resize-v@2x.png) 2x) 16 23, ns-resize;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb($adjustment: 0) {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  cursor: url(images/cursor-resize-v.png) 16 23, ns-resize; /* Legacy */
  cursor: url(images/cursor-resize-v.svg) 16 23, ns-resize; /* FF */
  cursor: -webkit-image-set(url(images/cursor-resize-v.png) 1x, url(images/cursor-resize-v@2x.png) 2x) 16 23, ns-resize;
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  height: $thumb-height + $adjustment;
  width: $thumb-width + $adjustment;
}

@mixin disabled {
  cursor: not-allowed;
}

.bio-stepper {
  width: 40px;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  font-family: $secondary-font-family;

  .stepper-label {
    text-align: center;
    padding: 6px 0;
  }

  .stepper-wrapper {
    height: $track-width;
    padding: 0 50%;
  }

  #bio-stepper[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    margin: $thumb-height / 2 0;
    width: $track-width;
    transform: rotate(270deg) translateX($track-translate);
    transform-origin: left;

    &::-moz-focus-outer {
      border: 0;
    }

    &:active {
      cursor: url(images/cursor-resize-v.svg), auto;
    }

    &:focus {
      outline: 0;

      &::-webkit-slider-runnable-track {
        background: lighten($track-color, $contrast);
      }

      &::-ms-fill-lower {
        background: $track-color;
      }

      &::-ms-fill-upper {
        background: lighten($track-color, $contrast);
      }
    }

    &::-webkit-slider-runnable-track {
      @include track;
      @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
      background: $track-color;
      border: $track-border-width solid $track-border-color;
      border-radius: $track-radius;
    }

    &::-webkit-slider-thumb {
      @include thumb;
      -webkit-appearance: none;
      margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);
    }

    &::-moz-range-track {
      @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
      @include track;
      background: $track-color;
      border: $track-border-width solid $track-border-color;
      border-radius: $track-radius;
      height: $track-height / 2;
    }

    &::-moz-range-thumb {
      @include thumb(-4);
    }

    &::-ms-track {
      @include track;
      background: transparent;
      border-color: transparent;
      border-width: ($thumb-height / 2) 0;
      color: transparent;
    }

    &::-ms-fill-lower {
      @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
      background: $ie-bottom-track-color;
      border: $track-border-width solid $track-border-color;
      border-radius: ($track-radius * 2);
    }

    &::-ms-fill-upper {
      @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
      background: $track-color;
      border: $track-border-width solid $track-border-color;
      border-radius: ($track-radius * 2);
    }

    &::-ms-thumb {
      @include thumb(-4);
      margin-top: $track-height / 4;
    }

    &:disabled {
      &::-webkit-slider-thumb {
        @include disabled;
      }

      &::-moz-range-thumb {
        @include disabled;
      }

      &::-ms-thumb {
        @include disabled;
      }

      &::-webkit-slider-runnable-track {
        @include disabled;
      }

      &::-ms-fill-lower {
        @include disabled;
      }

      &::-ms-fill-upper {
        @include disabled;
      }
    }
  }

}
