.events-wrapper {
  background-color: $color-white;
  animation: 0.4s popUp $cubic-bezier;
  animation-delay: 7.5s;
  animation-fill-mode: both;
  display: flex;
  line-height: 3rem;
}

.events-header {
  color: $color-white;
  background-color: $color-primary;
  padding: 0 1.5rem;
  transform: none;
  margin: 0;
}

.events-header, .event {
  font-size: 1.3rem;
}

.events {
  flex: 1;
  overflow: hidden;
  font-family: $secondary-font-family;
  
  .event {
    padding: 0 2rem;
    display: inline-flex;
    &:hover {
      text-decoration: none;
      * {
        text-decoration: underline;
      }
    }
  }
}

@keyframes popUp {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
