.events-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: $color-white;
  animation: 0.4s popUp $cubic-bezier;
  animation-delay: 7.5s;
  animation-fill-mode: both;
  display: flex;
  line-height: 3rem;
}

.events-header {
  color: $color-white;
  background-color: $color-primary;
  text-align: center;
  padding: 0 1.5rem;
  transform: none;
  margin: 0;
}

.events-header, .event {
  font-size: 1.3rem;
}

.events {
  flex: 1;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: $secondary-font-family;
  
  .event {
    padding: 0 2rem;
    display: inline-flex;
    &:hover {
      text-decoration: none;
      * {
        text-decoration: underline;
      }
    }
  }
}

@keyframes popUp {
  0% {
    transform: translate3d(0, 250%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 660px) {
  .events-header {
    transform: rotate(-6deg);
    position: absolute;
    bottom: 3rem;
    left: 0.5rem;
  }
}
