@font-face {
  font-family: "Acme";
  src: url('/assets/fonts/acme-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/acme-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url('/assets/fonts/spacemono-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/spacemono-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
