.grain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(images/grain.png);
  background-size: 260px;
  z-index: 999;
  user-select: none;
  pointer-events: none;
  animation: flicker 0.5s infinite step-end;
}

@keyframes flicker {
  from {
    background-position: 0px 0px;
  }
  10% {
    background-position: 200px 40px;
  }
  20% {
    background-position: -10px 60px;
  }
  30% {
    background-position: 80px 100px;
  }
  40% {
    background-position: -60px -140px;
  }
  50% {
    background-position: -50px 160px;
  }
  60% {
    background-position: 50px 190px;
  }
  70% {
    background-position: 190px 10px;
  }
  80% {
    background-position: -180px 70px;
  }
  90% {
    background-position: -90px 30px;
  }
  to {
    background-position: -80px 210px;
  }
}
