.page-content {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 4rem 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "events";
}

.page-header {
  grid-area: header;
}

#intro {
  grid-area: main;
}

.events-wrapper {
  grid-area: events;
}
