.site-header {
  z-index: 1;
}

#logo {
  margin: 20px;
  padding: 0;
  position: fixed;

  a {
    display: block;
    &:hover {
      transform: rotate(6deg);
      svg #wordmark {
        fill: blue;
        path {
          animation: 0.1s wiggle infinite;
        }
      }
    }
    &:active {
      transform: scale(0.9);
    }
  }

  svg #wordmark {
    fill: red;
  }
}

.site-nav {
  position: fixed;
  margin: 20px;
  top: 0;
  right: 0;
  font-size: 24px;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    padding: 12px;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
