.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@keyframes popIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#logo {
  margin: 1.4rem;
  padding: 0;
  animation: 0.2s popIn $cubic-bezier both;
  animation-delay: 7.5s;

  a {
    display: block;
    &:hover {
      svg #wordmark {
        fill: blue;
      }
    }
  }

  svg .wordmark {
    fill: red;
    path {
      animation: 4s pulse infinite alternate ease-in-out;
      &#W { animation-delay: -5s; animation-duration: 3.2s; }
      &#O { animation-delay: -4s; animation-duration: 3.2s; }
      &#C { animation-delay: -3s; }
      &#H { animation-delay: -2s; }
      &#A { animation-delay: -1s; }
      &#N { animation-delay: 0s; }
    }
  }
}

@keyframes pulse {
  from {
    transform: scale(1) translateY(0) translateX(0) skewX(0) skewY(0);
  }
  to {
    transform: scale(0.9) translateY(10px) translateX(2px) skewX(5deg) skewY(-2deg);
  }
}

.site-nav {
  margin: 20px;
  animation: 0.2s popIn $cubic-bezier both;
  animation-delay: 7.5s;
  display: flex;
  justify-content: flex-end;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  button {
    @extend a;
    background: transparent;
    border: none;
    height: auto;
    width: auto;
    line-height: inherit;
    font-family: inherit;
  }

  .page-link {
    font-size: 1.5rem;
    padding: 0.8rem;
    transform: rotate(-6deg);
    text-decoration: none;
    position: relative;
    &:after {
      // Underline
      content: '';
      width: calc(100% - 1.6rem);
      height: 3px;
      background-color: $color-primary;
      position: absolute;
      bottom: 0.85rem;
      left: 0.8rem;
      opacity: 0;
      transform: translateY(-3px);
      transition: opacity 0.2s ease, transform 0.2s ease;
    }
    &:hover {
      transform: scale(1.2) rotate(-6deg);
      text-decoration: none;
      &:after {
        background-color: $color-secondary;
        opacity: 1;
        transform: translateY(0);
      }
    }
    &:focus {
      outline: none;
    }
  } 
}

@media screen and (max-width: 630px) {
  .site-header {
    flex-direction: column;
    align-items: center;
  }
  .site-nav {
    margin: 0;
  }
  #logo {
    margin-bottom: 0;
  }
  .logo-desktop {
    display: none;
  }
}

@media screen and (min-width: 631px) {
  .logo-mobile {
    display: none;
  }
}
