#intro {
  height: 100%;
  font-family: $secondary-font-family;
  font-weight: bold;
  fill: transparent;
  letter-spacing: 0.2em;
  stroke: $color-primary;
  stroke-width: 0.12em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  animation: 1s fadeIn both;

  .intro-mobile {
    font-size: 32px;
    width: 80%;
    margin-top: 8%;
    @media screen and (min-width: 740px) {
      display: none;
    }
  }

  .intro-desktop {
    font-size: 50px;
    width: 90%;
    @media screen and (max-width: 741px) {
      display: none;
    }
    svg {
      margin-left: -5%; // Optical adjust for text height
    }
  }

  svg {
    width: 100%;
    display: block;
    overflow: visible;

    .intro-link {
      @include cursor(default);

      &:hover {
        fill: $color-secondary;
      }
    }

    .fartletter:active {
      fill: $color-secondary;
    }
  }

  #hover-gifs {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    video {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
