// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

%cursor-default {
  cursor: url(images/cursor-default.png) 3 0, auto; /* Legacy */
  cursor: url(images/cursor-default.svg) 3 0, auto; /* FF */
  cursor: -webkit-image-set(url(images/cursor-default.png) 1x, url(images/cursor-default@2x.png) 2x) 3 0, auto;
}

%cursor-pointer {
  cursor: url(images/cursor-pointer.png) 13 2, pointer; /* Legacy */
  cursor: url(images/cursor-pointer.svg) 13 2, pointer; /* FF */
  cursor: -webkit-image-set(url(images/cursor-pointer.png) 1x, url(images/cursor-pointer@2x.png) 2x) 13 2, pointer;
}

%cursor-collect {
  cursor: url(images/cursor-collect.png) 13 15, pointer; /* Legacy */
  cursor: url(images/cursor-collect.svg) 13 15, pointer; /* FF */
  cursor: -webkit-image-set(url(images/cursor-collect.png) 1x, url(images/cursor-collect@2x.png) 2x) 13 15, pointer;
}
