// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin cursor($cursor) {
  @if $cursor == 'default' {
    cursor: url(images/cursors/cursor-default.png) 3 0, auto; /* Legacy */
    cursor: url(images/cursors/cursor-default.svg) 3 0, auto; /* FF */
    cursor: -webkit-image-set(url(images/cursors/cursor-default.png) 1x, url(images/cursors/cursor-default@2x.png) 2x) 3 0, auto;
  } @else if $cursor == 'pointer' {
    cursor: url(images/cursors/cursor-pointer.png) 13 2, pointer; /* Legacy */
    cursor: url(images/cursors/cursor-pointer.svg) 13 2, pointer; /* FF */
    cursor: -webkit-image-set(url(images/cursors/cursor-pointer.png) 1x, url(images/cursors/cursor-pointer@2x.png) 2x) 13 2, pointer;
  } @else if $cursor == 'resize-h' {
    cursor: url(images/cursors/cursor-resize-h.png) 23 17, ew-resize; /* Legacy */
    cursor: url(images/cursors/cursor-resize-h.svg) 23 17, ew-resize; /* FF */
    cursor: -webkit-image-set(url(images/cursors/cursor-resize-h.png) 1x, url(images/cursors/cursor-resize-h@2x.png) 2x) 23 17, ew-resize;
  } @else if $cursor == 'external' {
    cursor: url(images/cursors/cursor-external.png) 13 6, pointer; /* Legacy */
    cursor: url(images/cursors/cursor-external.svg) 13 6, pointer; /* FF */
    cursor: -webkit-image-set(url(images/cursors/cursor-external.png) 1x, url(images/cursors/cursor-external@2x.png) 2x) 13 6, pointer;
  } @else if $cursor == 'text' {
    cursor: url(images/cursors/cursor-text.png) 13 21, text; /* Legacy */
    cursor: url(images/cursors/cursor-text.svg) 13 21, text; /* FF */
    cursor: -webkit-image-set(url(images/cursors/cursor-text.png) 1x, url(images/cursors/cursor-text@2x.png) 2x) 13 21, text;
  }
}
