#poems {
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 40px;

  .poem {
    background: $color-white;
    width: 400px;
    height: 600px;
    display: inline-block;
    margin: 0 20px;
  }
}
