// Define defaults for each variable.

$base-font-family: "Acme", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$secondary-font-family: "Space Mono", monospace;

$spacing-unit:     30px !default;

$color-text:       #111 !default;
$color-bg:         #FBECF0 !default;
$color-white:      white;
$color-primary:    red;
$color-secondary:  blue;

$cubic-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;
$sidebar-width:    400px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;
